.App {
  text-align: center;
  min-height: 100vh;
  width: 100%;
}
.container {
  width: 330px;
}

.buttons {
  box-sizing: border-box;
  max-width: 320px;
  margin: auto;
}
.btn {
  float: left;
  position: relative;
  box-sizing: border-box;
  height: 65px;
  width: 80px;
  color: white;
  outline: 1px solid black;
  border: none;
  background: #4d4d4d;
  font-family: Share Tech Mono, monospace;
  font-size: 20px;
  cursor: default;
}

.acButton {
  background: rgb(172, 57, 57);
}
.jumbo {
  width: 160px;
}

.equalButton {
  background: rgb(0, 68, 102);
  height: 130px;
  float: right;
}
